.grid-container{
    width: 70%;
    max-width: 1140px;
    margin-inline: auto;
    border: 1px solid rgb(7, 5, 3);
    padding: 5px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr 3fr;
    grid-template-rows: 2fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    gap: 5px;
}

.grid-item{
    font-size: 40px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}
.grid-item:nth-child(1){
    grid-row: 1 / 4;
    grid-column: 1 / 3;
    background-color: #cc1159;
}
.grid-item:nth-child(2){
    grid-row: 1 /6;
    grid-column: 3 ;
    background-color: #b81e8c;
}
.grid-item:nth-child(3){
    background-color: #af3128;
}
.grid-item:nth-child(4){
    grid-row: 1 ;
    grid-column: 5 / 7;
    background-color:#c19d2a ;
}
.grid-item:nth-child(5){
    grid-row: 2 /6 ;
    grid-column: 4 ;
    background-color: #55a046;
}
.grid-item:nth-child(6){
    background-color: #347c85;
}
.grid-item:nth-child(7){
    background-color: #b4e04c;
}
.grid-item:nth-child(8){
    grid-row:3/8;
    grid-column: 5/7;
    background-color:#548a49 ;
}
.grid-item:nth-child(9){
    grid-row: 4/7;
    background-color:#3bb1aa ;
}
.grid-item:nth-child(10){
    background-color:#2a8764 ;
}
.grid-item:nth-child(11){
    grid-row: 5/7;
    background-color: #4f3b78;
}
.grid-item:nth-child(12){
    grid-row:7/10;
    grid-column: 1/3;
    background-color: #6a2461;
}
.grid-item:nth-child(13){
    grid-row: 6/10;
    grid-column: 3/5;
    background-color: #ab711a;
}
.grid-item:nth-child(14){
    grid-row: 8/10;
    grid-column: 5/7;
    background-color: #c12f39;
}
